.chatBlock{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.chats li{
    list-style: none;
}

.navChat{
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #FFFFFF;
   text-decoration: none;
}